/* homepage.css */

/* Ajustes globales específicos para la página principal */

/*
    Home page contiene el cuerpo de la pagina principal 

*/
body {
    background-color: #f8f9fa; /* Fondo suave para toda la página */
    color: #333; /* Texto oscuro */
    background-image: url("Background.png");
}

/* Estilos para el contenedor principal de bienvenida */
.container h1.display-4 {
    color: #606C38 !important; /* Color azul primario para el título */
    margin-bottom: 0.5rem;
}


.container p.lead {
    color: #DDA15E; /* Color de texto secundario */
    font-weight: bold;
}

/* Estilos para las tarjetas de opciones */
.card {
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .card .card-title {
        color: #00C0F3;
        text-align: center;
    }

    .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 20px;
    }

    .card .btn-primary {
        background-color: #535D33;
        border: none;
        margin-top: auto;
        align-self: center;
        width: 50%;
        max-width: 200px;
    }

    .card .btn-success {
        background-color: gold;
        border: none;
        text-align: center;
    }



.btn-reclamo:hover {
    background-color: #A3B19A; /* Un tono ligeramente más oscuro para el hover */
}




    .btn-calificacion:hover {
        background-color: #e0a800; /* Un tono más oscuro para el hover */
    }

.card-text {
    background-color: #A3B19A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Estilos de la alerta */
.alert-info {
    background-color: #A3B19A;
    border-color: #bee5eb;
    color: #535D33;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Carousel */
.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    height: 400px; /* Ajusta la altura de las imágenes */
}

/* Videos */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
}

.thumbnail {
    width: 100%;
    cursor: pointer;
    max-width: 640px;
}

video {
    max-width: 100%;
    height: auto;
}
